/* Шрифты */
@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color: #2D3440;
  margin: 0;
  height: 100%;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page_container {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main_container {
  flex-grow: 1;
}

/* кнопки */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-align: center;
  background-color: #FCFCFC;
  text-decoration: none;
  border-radius: 26px;
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  background-clip: padding-box;
  display: inline-block;
}

.button_submit {
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  color: #FCFCFC;
}

/* общий заголовок */
.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
}

/*  header  */
.main_header {
  color: #2D3440;
  background-color: #FEAFC3;
  display: flex;
  padding-top: 24px;
  align-items: center;
  margin-bottom: 21px;
}

.header_active_catalog {
  position: relative;
}

.header_active_catalog::after {
  content: "";
  background: url(../images/arrow_catalog.svg) no-repeat;
  display: block;
  position: absolute;
  width: 11px;
  height: 7px;
  top: 12px;
  right: 17px;
}

.header_nav {
  margin-left: 16px;
}

.header_nav_user .header_nav_link {
  padding-left:38px;
}

.header_nav_user .contacts_phone {
  font-weight: 700;
  padding-left: 0;
}

.header_nav_list {
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.header_nav_user {
  align-items: center;
  margin-left: auto;
}

.header_nav_link {
  color: #2D3440;
  text-decoration: none;
  text-align: center;
  padding: 6px 16px;
  display: block;
  position: relative;
}

.header_nav_item .header_seach {
  padding: 16px;
}
.header_nav_user .header_nav_item{
  min-width: 16px;
  min-height: 16px;
}

.header_nav_user .header_nav_item:not(:last-child) {
  margin-right: 16px;
}

.catalog_item,
.header_nav_item {
  list-style-type: none;
}

.catalog_item .header_nav_link {
  padding: 0;
}

.catalog_list {
  display: flex;
  flex-direction: column;
  padding: 0;
  display: none;
}

.catalog_item {
  padding: 6px 16px;
}

.header_active_catalog a:first-of-type {
  padding-right: 38px;
}

.header_nav_search {
  display: none;
}

.nav_user_text {
  font-size: 14px;
}

.user_login_list {
  margin: 0;
  padding: 0;
}

.user_login_help_list {
  list-style-type: none;
  padding: 0;
}

.user_login_active {
  display: none;
}

.user_nav_items {
  background-color: #FCFCFC4D;
  border-radius: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.user_nav_items svg {
  position:absolute;
  left: 16px;
}

.header_seach svg {
  margin-right: 0;
  left: 8px;
  top: 7px;
}

/*  pages  */
.main_index {
  color: #2D3440;
  background-color: #FEAFC3;
  margin-bottom: 86px;
}

.slider_list {
  margin: 0;
  padding: 0;
  list-style-type:  none;
  display: flex;
  column-gap: 41px;
}

.slider_item {
  width: 800px;
  display: flex;
  align-items: center;
}

.slider_item_text {
  max-width: 470px;
}

.main_slider .slider_item_text {
  padding-left: 40px;
}

.slider_item_picture {
  position: relative;
  z-index: 1;
}

.slider_item_picture::after {
  content: "";
  width: 312px;
  height: 312px;
  background: #FFCBD8;
  border-radius: 50%;
  display: block;
  position: absolute;
  top:20%;
  z-index: -1;
}

.slider_buttons_and_pag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.slider_pagination,
.main_social_media_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
}

.main_social_media_item svg,
.main_footer_item svg {
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  opacity: .5;
  cursor: pointer;
}

.slider-pagination-button-curren {
  opacity: 1;
}

/* main_offer */
.main_page_info_title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
}

.main_page_info_description {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.main_offer {
  margin-bottom: 80px;
}

.main_offer_title {
  max-width: 434px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}

.offer_list {
  color: #2D3440;
  background-color: #FEAFC3;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.offer_item {
  background-color: #FF7799;
  border-radius: 16px;
  max-width: 570px;
  display: flex;
}

.offer_item_text {
  text-align: start;
  padding: 36px 0  36px 36px;
}

.product_card,
.popular_offers_list_item {
  width: 270px;
  height: auto;
  background-color: #FCFCFC;
  text-align: center;
  border-radius: 16px;
  color: #565C66;
}

.offer_list_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.offer_list_image {
  align-self: flex-end;
}

.offer_list_description {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

/* popular_offers */
.popular_offers {
  text-align: center;
  color: #2D3440;
  margin-bottom: 80px;
}

.popular_offers_list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.popular_offers_title {
  max-width: 527px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 107px;
}

.popular_icecream, .product_card_image {
  position: relative;
  top: -51px;
  border-radius: 50%;
}

.offers_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
}

.offers_description {
  font-size: 16px;
  line-height: 22px;
}

.product_card_price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FCFCFC;
}

/* about_gllacyshop */
.about_gllacyshop {
  background-color:  #F3EBDC;
  background: url(../images/backgrounds/waffle_background.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_gllacyshop_info_wrapper {
  background-color:  #fff;
  border-radius: 16px;
  padding: 56px 40px;
  margin: 24px;
}

.about_gllacyshop_title {
  margin-bottom: 56px;
}

.about_gllacyshop_description {
  text-align: start;
  color: #565C66;
  margin: 0;
  padding-left: 64px;
}

.about_gllacyshop_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.about_gllacyshop_list:last-child {
  margin-bottom: 0;
}

.gllacyshop_icecream_icon,
.gllacyshop_leaf_icon,
.gllacyshop_cow_icon,
.gllacyshop_thermometr_icon {
  position: relative;
}

.about_gllacyshop_item {
  width: 510px;
}

.gllacyshop_icecream_icon::after {
  content: "";
  background-image: url(../images/other_icons/icecream_icon.svg);
  left: 0;
  top: -10px;
  position: absolute;
  width: 48px;
  height: 48px;
}

.gllacyshop_leaf_icon::after {
  content: "";
  background-image: url(../images/other_icons/leaf_icon.svg);
  left: 0;
  top: -10px;
  position: absolute;
  width: 48px;
  height: 48px;
}

.gllacyshop_cow_icon::after {
  content: "";
  background-image: url(../images/other_icons/cow_icon.svg);
  left: 0;
  top: -10px;
  position: absolute;
  width: 48px;
  height: 48px;
}

.gllacyshop_thermometr_icon::after {
  content: "";
  background-image: url(../images/other_icons/thermometer_icon.svg);
  left: 0;
  top: -10px;
  position: absolute;
  width: 48px;
  height: 48px;
}

.blog_and_subscribe {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 80px;
}

/*  blog_and_subscribe  */
.blog {
  background-color: #FEAFC3;
  background-image: url(../images/backgrounds/blog_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 570px;
  padding: 32px 0 67px 32px ;
}

.blog_subtitle {
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.blog_new_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
}

.subscribe {
  background-color: #FEAFC3;
  background: url(../images/backgrounds/post_background.jpg) no-repeat;
  background-size: cover;
  color: #565C66;
  border-radius: 16px;
  width: 570px;
}

.subscribe_info_wrapper {
  background-color: #fff;
  border-radius: 16px;
  padding: 26px;
  margin: 6px;
}

.subscribe_description {
  margin: 0;
  margin-bottom: 42px;
}

/* delivery */
.delivery {
  background-color: #FEAFC3;
  background: url(../images/backgrounds/delivery_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  column-gap: 150px;
  margin-bottom: 38px;
}

.delivery_title {
  margin-bottom: 24px;
}

.delivery_text {
  width: 371px;
  padding-left: 100px;
}

.delivery_description,
.delivery_form_text {
  color: #565C66;
  margin: 0;
}

.delivery_form {
  background-color: #fff;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  width: 500px;
  height: 406px;
  border-radius: 8px;
  margin: 64px 64px 64px 0;
  padding: 40px;
  box-sizing: border-box;
}

.delivery_label label {
  line-height: 20px;
  font-weight: 700;
}

/* contacts */
.contacts {
  background-color: #FEAFC3;
  background-image: url(../images/backgrounds/feedback_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
}

.contacts_subtitle {
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts_box {
  background-color: #fff;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  width: 343px;
  min-height: 364px;
  border-radius: 8px;
  padding: 40px;
  margin: 64px 0 64px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.contacts_address {
  font-style: normal;
  margin-bottom: 32px;
}

.contacts_address_text, .contacts_tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.contacts_tel {
  color: #2D3440;
  text-decoration: none;
}

.contacts_time {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
}

/* footer */
.main_footer {
  background-color: #FEAFC3;
  color: #2D3440;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.main_footer_info {
  width: 355px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main_footer_list {
  width: 110px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  column-gap: 12px;
  flex-wrap: wrap;
}

.main_footer_suppliers {
  position: relative;
  width: 150px;
}

.main_footer_about {
  width: 150px;
}

.footer_about_link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.heart_link {
  font-weight: 700;
}

.heart_link::after {
  content: "";
  background: url(../images/other_icons/heart.svg) no-repeat;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 6px;
}

.html_academy_link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #2D3440;
  display: flex;
}

/*  catalog pages  */
.catalog_header {
  margin-bottom: 16px
}

.main_catalog {
  color: #2D3440;
  background-color: #FEAFC3;
  margin-bottom: 130px;
}

.catalog_title {
  margin-bottom: 40px;
}

.produst_list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 90px 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 16px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs_item:not(:last-child) {
  margin-right: 28px;

}
.breadcrumbs_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.breadcrumbs_active {
  text-decoration: underline;
}

.catalog_products {
  color: #2D3440;
  background-color: #FEAFC3;
  margin-bottom: 95px;
}

.catalog_filter{
  display: flex;
  flex-wrap: wrap;
  gap: 44px 24px;
}

.catalog_filter_group,
.sorting_list_wrapper {
  background-color: #FFCBD8;
  border-radius: 18px;
  border: none;
  padding: 0;
  margin: 0;
}

.catalog_filter_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sorting_line_one {
  margin-bottom: 44px;
  align-items: center;
}

.sorting_line_one,
.sorting_line_two {
  display: flex;
}

.sorting_line_one .catalog_filter_group {
  width: 385px;
}

.sorting_line_two .catalog_filter_group {
  width: 605px;
}

.product_card_link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.sorting_button {
  background-color: #FFCBD8;
  border: 2px solid #FCFCFC;
}

.pagination {
  color: #2D3440;
  background-color: #FEAFC3;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end
}

.pagination-item{
  min-width: 24px;
  min-height: 24px;
  text-align: center;
}

.pagination_link {
  color: #2D3440;
  text-decoration: none;
  line-height: 20px;
  padding: 2px 7px;
  display: block;
}

.pagination-current {
  border-radius: 76px;
  background-color: #FCFCFC;
}

.pagination-prev,
.pagination-next {
  width: 16px;
  height: 16px;
}

.button_pagination{
  display: flex;
  padding: 41px;
}
/* feedback */
.feedback {
  display: none;
}
